# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Python
*.pyc

#Old directories to ignore
test/mapmaking/test/*
test/mapmat/*
test/toeplitz/*

#ignore Makefiles (manually configured in each platform for now)
Makefile
src/mapmat/Makefile
src/toeplitz/Makefile
test/mapmaking/mappraiser/Makefile
test/mapmaking/mappraiser/src/Makefile
